/* apply styles to elements in <body> */
body {
  font-family: 'indie flower', cursive, Helvetica, Arial, sans-serif;
  color: #3A3E3A;
  background-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #ACA2A5;
}

/* apply styles to <h1> elements inside the <header> */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #3A3E3A;
  margin: 0;
}

/* apply styles to <a> elements inside the <header> */
header a {
  color: #3A3E3A;
  text-decoration: none;
}

/* apply styles to <li> elements inside the <header> */
header li {
  list-style: none;
}

/* apply styles to <img> elements inside the <header> */
header img {
  height: 10%;
  width:10%;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
}

/* hero style */
.hero {
  background-image: url("../images/hero.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
}

/* my work section */

.website1-image {
  height: 60%;
  width:60%;
  border:solid;
  border-color: #3A3E3A;
  border-radius: 2%;
  border-width: 3px;
  max-width: 600px;
  max-height: 600px;
}

article div img {
  height: 29.3%;
  width:29.3%;
  border:solid;
  border-color: #3A3E3A;
  border-radius: 2%;
  border-width: 3px;
  max-width: 300px;
  max-height: 300px;
}

.website-title {
  font-size: 130%;
  font-weight: bold;
}

/* contact-me section */
  .contact-me a {
    text-decoration: none;
    color:#3A3E3A
  }